html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: black;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 29px;
  max-width: 320px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.13;
  text-align: center;
  color: #010000;
  padding: 0 30px;
  margin: 0;
}
