$primary-contrast: #ffffff;
$primary-contrast-30: rgba($primary-contrast, 0.3);
$primary: #63d1bb;
$text-primary: #000000;
$text-secondary: #444444;
$border-primary: #ececec;
$border-secondary: #444444;
$box-shadow-primary: #ececec;
$font-primary:"Open Sans", "Arial", sans-serif;
