.container {
  min-width: 320px;
  padding: 0 29px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 52px;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 50px;
  }
}
