$white: #ffffff;
$seafoam_blue: #63d1bb;
$greeny_blue: #56c3b2;
$very_dark_brown: #010000;
$blue_green: #149080;
$black: #000000;
$greyish_brown: #444444;
$white_two: #f1f1f1;
$white_three: #ececec;
$greeny_blue_two: #62d1ba;
$greeny_blue_three: #00e2bf;
$greeny_blue_four: #46c1ae;
$greeny_blue_five: #59d5bc;
$grey_one: #c6c6c6;
$grey_two: #f9f9f9;
$grey_three: #e5e5e5;
