.about {
  padding: 27px 0 2px;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
  margin: 0;
}

.about__items {
  list-style: none;
  margin: 0;
  padding: 24px 0 10px;
}

.about__item {
  padding-bottom: 12px;
}

.about__icon {
  min-width: 40px;
  min-height: 50px;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
}

.about__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
  color: $black;
  margin: 10px 0;
}

@media (min-width: 772px) {
  .about__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__item {
    width: 48%;
  }
}
