.button {
  display: block;
  text-decoration: none;
  outline: none;
  border: solid 2px $border_secondary_color;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: $border_secondary_color;
  padding: 14px 20px;
  min-height: 52px;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;

  &--green {
    border-color: $primary_color;
    background-color: $primary_color;
    color: white;
  }

  &:hover {
    background-color: $border_secondary_color;
    color: $white;
    opacity: 1;
  }

  &:active {
    background-color: $border_secondary_color;
    color: $white_30;
    opacity: 1;
  }
}
