.button {
  display: block;
  text-decoration: none;
  outline: none;
  border: solid 2px $border-secondary;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: $text-secondary;
  padding: 14px 20px;
  min-height: 52px;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;

  &--green {
    border-color: $primary;
    background-color: $primary;
    color: white;

    &:hover,
    &:active {
      border-color: #444444;
    }
  }

  &:hover {
    background-color: #444444;
    color: $primary-contrast;
    opacity: 1;
  }

  &:active {
    background-color: #444444;
    color: $primary-contrast-30;
    opacity: 1;
  }
}
