.card {
  background-color: $white;
  border: solid 1px $border_primary_color;
  margin-bottom: 58px;
}

.card__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $black;
  position: relative;
  margin: 0;
  padding: 23px 20px 26px 90px;

  &::before {
    position: absolute;
    left: 34px;
    top: 47%;
    transform: translateY(-50%);
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    content: "";
  }
}

.card__video {
  display: block;
  position: relative;
}

.card__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__info {
  margin: 27px 0 25px;
  padding: 0 34px;
  font-size: 13px;
  line-height: 1.85;
  color: $border_secondary_color;
}

.card__button {
  margin: 0 34px;
  margin-bottom: 32px;
}

@media (min-width: 772px) {
  .card {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    margin-bottom: 62px;
  }

  .card__video {
    order: -1;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
    padding: 40px 20px 26px 103px;

    &::before {
      left: 40px;
      top: 56%;
    }
  }

  .card__info {
    font-size: 15px;
    line-height: 2;
    margin: 5px 0 35px;
    padding: 0 40px;
  }

  .card__button {
    margin: 0 40px;
  }
}

@media (min-width: 1250px) {
  .card {
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 104px;
  }

  .card__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
  }

  .card__title {
    margin-left: calc(65% + 40px);
    padding: 97px 50px 26px 38px;

    &::before {
      top: 25%;
      transform: none;
    }
  }

  .card__info {
    margin: 6px 0 35px;
    padding: 0 38px;
    margin-left: calc(65% + 40px);
  }

  .card__button {
    margin-left: calc(65% + 78px);
    margin-right: 57px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

