.checkbox {
  display: block;
  cursor: pointer;

  &:hover {
    .checkbox__name::before {
      border-color: #62d1ba;
    }
  }

  &:active {
    .checkbox__name::before {
      border-color: rgba($border-secondary, 0.3);
    }
  }
}

.checkbox__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  color: $text-primary;
  position: relative;
  padding-left: 64px;
  display: inline-block;
  vertical-align: top;

  &::before {
    position: absolute;
    background-color: white;
    border: solid 2px $border-secondary;
    width: 40px;
    height: 40px;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 16px;
  }
}

.checkbox__field:checked ~ .checkbox__name::before {
  background-image: url("../img/icon-tick.svg");
}

@media (min-width: $tablet) {
  .checkbox__name {
    font-size: 19px;
    line-height: 0.95;
    padding-left: 81px;
    min-height: 52px;
    padding-top: 12px;

    &::before {
      width: 54px;
      height: 52px;
      top: 50%;
      background-color: #f1f1f1;
    }
  }

  .checkbox__field:checked ~ .checkbox__name::before {
    background-size: 33px 22px;
  }
}
