.contact {
  padding: 36px 0 19px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;
    color: #000000;
    margin: 0;
  }
  &__items {
    width: 100%;
    font-size: 15px;
    line-height: 2;
    color: #444444;
    border-collapse: collapse;
    margin: 14px 0 19px;
  }
  &__item {
    padding: 11px 0 17px;
    display: flex;
    margin: 0;
  }
  &__name{
    flex-basis: 29.5%;
    display: block;
    padding-right: 10px;
    flex-shrink: 0;
  }
  &__address {
    flex-grow: 1;
    display: block;
  }
  &__link {
    border-bottom: 1px solid #00E2BF;
  }
  &__button {
    margin: 41px 0 20px;
  }
  &__map {
    display: flex;
    justify-content: center;
  }
}
