.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 14px 0 18px;
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 0.95;
  color: $black;
  padding-right: 22px;
  padding-left: 4px;
}

.copyright__logo {
  margin-top: 2px;
}
