.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  svg {
    fill: $primary;
  }

  &:hover {
    opacity: 1;

    svg {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: #46c1ae;
    }
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 0.95;
  color: $text-primary;
  padding-right: 22px;
  padding-left: 4px;
}

.copyright__logo {
  margin-top: 2px;
}

@media (min-width: $tablet) {
  .copyright {
    width: auto;
  }

  .copyright__logo {
    margin-top: 0;
  }
}
