.cover__top {
  padding: 71px 0 122px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__nav {
  list-style: none;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  display: none;
  padding: 18px 0;
}

.cover__item {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  color: $black;
  padding-right: 35px;
}

.cover__caption {
  font-size: 15px;
  line-height: 1.6;
  color: #444444;
  flex-grow: 1;
  text-align: right;
}

@media (min-width: 772px) {
  .cover {
    position: relative;
    padding-bottom: 13px;
    background-color: #f1f1f1;

    &--bg {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
      content: "";
      background-position: center;
    }
  }

  .cover__top {
    background: none;
    padding: 94px 0 375px;
  }

  .cover__links {
    display: flex;
    padding: 0 52px;
  }

  .cover__link {
    width: 50%;
  }

  .cover__nav {
    display: flex;
  }

  .cover__item {
    &--specials {
      display: none;
    }
  }
}

@media (min-width: 1250px) {
  .cover {
    &--bg {
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }

  .cover__links {
    display: flex;
    padding: 0 100px;
  }

  .cover__item {
    display: none;
    padding-right: 62px;

    &--specials {
      display: block;
    }
  }

  .cover__top {
    padding: 94px 0 359px;
  }
}
