.cover__top {
  padding: 71px 0 122px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 772px) {
  .cover {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cover__top {
    background: none;
  }

  .cover__links {
    display: flex;
    padding: 0 52px;
  }

  .cover__link {
    width: 50%;
  }
}
