.footer {
  background-color: #f1f1f1;
}

.footer__socials {
  padding: 24px 0 28px;
  padding-right: 7px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  padding: 14px 0 18px;
}

@media (min-width: $tablet) {
  .footer {
    padding: 52px 0;
    overflow: hidden;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    display: inline-block;
    flex-shrink: 0;

    &[href] {
      &:hover {
        svg {
          fill: #46c1ae;
        }
      }

      &:active {
        opacity: 0.3;

        svg {
          fill: #46c1ae;
        }
      }
    }
  }

  .footer__socials {
    padding: 0;
    padding-left: 78px;
    border-bottom: 0;
  }

  .footer__copyright {
    padding: 0;
    margin-right: -6px;
  }
}
