.form {
  padding-bottom: 30px;
}

.form__text {
  font-size: 13px;
  line-height: 1.85;
  color: $greyish_brown;
  margin: 22px 0 25px;
}

.form__block {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  display: block;
  border: 0;

  &:last-of-type {
    margin-bottom: 7px;
  }
}

.form__caption {
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  color: $seafoam_blue;
  width: 100%;
  display: flex;
  text-transform: uppercase;

  &::after {
    flex-grow: 1;
    height: 1px;
    background-color: $seafoam_blue;
    width: 100%;
    content: "";
    margin: 7px 0 0 25px;
  }
}

.form__prefix {
  flex-shrink: 0;
}

.form__label {
  padding: 14px 0 11px;
  display: block;

  &:first-of-type {
    padding-top: 34px;
  }

  &--checkbox {
    padding: 17px 0 14px;

    &:last-child {
      padding-bottom: 11px;
    }

    &:first-of-type {
      padding-top: 37px;
    }
  }

  &--input {
    padding: 9px 0 13px;

    &:first-of-type {
      padding-top: 29px;
    }
  }

  &--tel {
    padding: 0 0 13px;

    &:first-of-type {
      padding-top: 6px;
    }
  }

  &--email {
    padding: 0 0 13px;

    &:first-of-type {
      padding-top: 7px;
    }
  }
}

.form__textarea {
  margin: 25px 0 0;
}

.form__notice {
  font-size: 14px;
  line-height: 1.14;
  color: $greyish_brown;
}

.form__button {
  width: 100%;
  margin: 25px 0;
  cursor: pointer;
}
