.header {
  background-color: white;
  z-index: 100;
  position: relative;
}

.header__nav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 2px;
  padding: 22px 30px 22px;
}

.header__item {
  text-align: center;
}

@media (min-width: $tablet) {
  .header {
    background-color: transparent;
    z-index: 20;
    position: relative;
  }

  .header__logo {
    padding: 22px 0 20px;
  }

  .header__item {
    flex-grow: 1;
    text-align: left;

    &--toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .header__item {
    &--logo {
      order: 3;
      text-align: center;
    }
  }

  .header__logo {
    margin-right: 60px;
    padding: 9px 0 6px;
  }
}
