.input {
  &--tel {
    position: relative;

    &::after {
      position: absolute;
      right: 9px;
      top: 41%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      background-image: url("../img/icon-phone.svg");
      width: 25px;
      height: 24px;
      opacity: 0.2;
    }

    .input__field {
      padding-right: 70px;
    }
  }

  &--email {
    position: relative;

    &::after {
      position: absolute;
      right: 5px;
      top: 47%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      background-image: url("../img/icon-mail.svg");
      width: 32px;
      height: 32px;
      opacity: 0.2;
    }

    .input__field {
      padding-right: 70px;
    }
  }
}

.input__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  color: $black;
  display: block;
}

.input__field {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: inset 0 -2px 0 0 $black;
  font-size: 17px;
  line-height: 1.2;
  color: black;
  height: 52px;
  padding: 5px 0 9px;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
    line-height: 1.2;
  }

  &:hover,
  &:active {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }
}

@media (min-width: 768px) {
  .input {
    display: flex;
  }

  .input__name {
    line-height: 52px;
    font-size: 19px;
    padding-right: 25px;
  }

  .input__field {
    padding: 5px 17px 9px;
  }

  .input--tel,
  .input--email {
    .input__field {
      background-color: #f1f1f1;
    }

    &::after {
      right: 25px;
    }
  }
}

@media (min-width: 1150px) {
  .input--tel,
  .input--email {
    &::after {
      right: 7px;
    }
  }
}
