.input {
  &--tel {
    position: relative;

    .input__icon {
      right: 27px;
      top: 41%;
    }

    .input__field {
      padding-right: 70px;
    }
  }

  &--email {
    position: relative;

    .input__icon {
      right: 22px;
      top: 47%;
    }

    .input__field {
      padding-right: 70px;
    }
  }
}

.input__icon {
  position: absolute;
  fill: rgba(#000000, 0.2);
  transform: translateY(-50%);
}

.input__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  color: $text-primary;
  display: block;
}

.input__field {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  font-size: 17px;
  line-height: 1.06;
  color: $text-secondary;
  height: 52px;
  padding: 5px 0 9px;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
    line-height: 1.2;
  }

  &:hover,
  &:active {
    box-shadow: inset 0 -2px 0 0 #62d1ba;

    ~ .input__icon {
      fill: $primary;
    }
  }

  &:required.error {
    box-shadow: inset 0 -2px 0 0 red;
  }
}

@media (min-width: $tablet) {
  .input {
    display: flex;
  }

  .input__name {
    line-height: 52px;
    font-size: 19px;
    padding-right: 25px;
  }

  .input__field {
    padding: 5px 17px 9px;
    font-size: 19px;
  }

  .input--tel,
  .input--email {
    .input__field {
      background-color: #f1f1f1;
    }

    &::after {
      right: 25px;
    }
  }
}

@media (min-width: $desktop) {
  .input--tel {
    .input__icon {
      right: 7px;
    }
  }

  .input--email {
    .input__icon {
      right: 4px;
    }
  }
}
