.link {
  background-color: #56c3b2;
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  display: block;
  padding: 0 29px;
  display: flex;
  flex-wrap: nowrap;
  &__text {
    padding: 21px 0;
    max-width: 71%;
  }
  &:hover {
    background-color: #46c1ae;
  }
  &:active {
    background-color: #46c1ae;
    opacity: 0.3;
  }
  &--light {
    background-color: #63d1bb;
    &:hover {
      background-color: #59d5bc;
    }
    &:active {
      background-color: #59d5bc;
    }
  }
}
