.link {
  background-color: #56c3b2;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  padding: 0 29px;
  min-height: 103px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -5px 0 0 transparent;

  &:hover,
  &:active {
    opacity: 1;
  }

  &--light {
    background-color: $primary;
  }
}

.link__text {
  padding: 27px 0 30px;
  max-width: 66%;
}

.link__icon {
  width: 60px;
  margin-right: -2px;
}

@media (min-width: $tablet) {
  .link {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 35px;

    &:hover {
      background-color: #46c1ae;
      opacity: 1;
      padding-bottom: 5px;
      box-shadow: 0 -5px 0 0 #46c1ae;

      .link__text {
        padding-top: 23px;
      }
    }

    &:active {
      background-color: #46c1ae;
      color: $primary-contrast-30;
      opacity: 1;
      padding-bottom: 5px;
      box-shadow: 0 -5px 0 0 #46c1ae;

      .link__text {
        padding-top: 23px;
      }

      img {
        opacity: 0.3;
      }
    }

    &--light {
      &:hover {
        background-color: #59d5bc;
        box-shadow: 0 -5px 0 0 #59d5bc;
      }

      &:active {
        background-color: #59d5bc;
        box-shadow: 0 -5px 0 0 #59d5bc;
      }
    }
  }

  .link__text {
    padding: 28px 0 30px;
  }
}

@media (min-width: $desktop) {
  .link__text {
    max-width: 39%;
  }
}
