.nav__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__toggle {
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;
  background-position: center;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 14px;
}

.nav__item {
  display: none;
}

.nav__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $black;
  padding: 27px 30px 28px 74px;
  display: block;
  position: relative;

  &--cart {
    &::before {
      position: absolute;
      left: 31px;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 20px;
      opacity: 0.2;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
    }
  }
}

@media (max-width: 772px) {
  .nav {
    &.active {
      .nav__item {
        display: block;
      }

      .nav__wrapper {
        width: 100%;
      }

      .nav__toggle {
        background-image: url("../img/icon-menu-close.svg");
        background-size: 21px 20px;
      }
    }
  }

  .nav__item {
    display: none;
    box-shadow: 0 1px 0 0 $border_primary_color, inset 0 1px 0 0 $border_primary_color;
  }

  .no-js {
    .nav__item {
      display: block;
    }

    .nav__wrapper {
      width: 100%;
    }

    .nav__toggle {
      background-image: url("../img/icon-menu-close.svg");
      background-size: 21px 20px;
    }
  }
}

@media (min-width: 772px) {
  .nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 52px;
    max-width: 100%;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item {
    &--search {
      display: block;
      border: 1px solid $border_primary_color;
      border-top: 0;
      border-bottom: 0;

      .nav__link {
        padding: 31px 0 28px 83px;
      }
    }

    &--cart {
      display: block;
      border-left: 1px solid $border_primary_color;

      .nav__link {
        padding: 31px 0 28px 83px;
      }
    }
  }

  .nav__link {
    height: 100%;
    padding-top: 31px;
    padding-bottom: 28px;
  }

  .nav__search {
    height: 100%;
  }
}

@media (min-width: 1250px) {
  .nav__wrapper {
    padding: 0 100px;
    max-width: 1250px;
  }

  .nav__item,
  .nav.active .nav__item {
    display: block;
  }

  .nav__item {
    border-right: 1px solid $border_primary_color;
    padding-left: 0;

    & + .nav__item {
      border-right: 0;

      .nav__link {
        padding-left: 35px;
      }

      .nav__link--cart {
        padding-left: 85px;
      }
    }

    &--search {
      order: 4;
    }

    &--cart {
      order: 5;

      .nav__link {
        padding-left: 85px;
      }
    }
  }

  .nav__link {
    padding-left: 0;
    padding-right: 35px;
  }
}
