.nav__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $white;
}

.nav__toggle {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 14px;
  background-image: url("../img/icon-menu-close.svg");
  background-size: 21px 20px;
}

.nav__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $text_primary;
  padding: 27px 30px 28px 74px;
  display: block;
  position: relative;

  &--cart {
    &::before {
      position: absolute;
      left: 31px;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 20px;
      opacity: 0.2;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
    }
  }
}

@media (max-width: $mobile-only) {
  .nav__item {
    box-shadow: 0 1px 0 0 $border_primary_color, inset 0 1px 0 0 $border_primary_color;
  }

  .nav {
    &.is-hidden {
      .nav__item,
      .nav__outer {
        display: none;
      }

      .nav__wrapper {
        width: auto;
      }

      .nav__toggle {
        background-image: url("../img/icon-menu-open.svg");
        background-size: 20px 14px;
      }
    }
  }

  .js .nav:not(.is-hidden) {
    padding-top: 79px;

    .nav__wrapper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  .nav__additional,
  .nav__caption {
    display: none;
  }

  .nav__outer {
    & .nav__link {
      box-shadow: 0 1px 0 0 $border_primary_color, inset 0 1px 0 0 $border_primary_color;
    }
  }
}

@media (min-width: $tablet) {
  .nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 52px;
    max-width: 100%;
    max-height: 88px;
    overflow: visible;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item {
    display: block;

    &--search {
      border: 1px solid $border_primary_color;
      border-top: 0;
      border-bottom: 0;

      .nav__link {
        padding: 31px 0 28px 83px;
      }
    }

    &--cart {
      .nav__link {
        padding: 31px 0 28px 83px;
      }
    }
  }

  .nav__link {
    height: 100%;
    padding-top: 31px;
    padding-bottom: 28px;
  }

  .nav__search {
    height: 100%;
  }

  .nav__outer {
    order: 4;
    width: 60%;
    display: block;

    .nav__link {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.6;
      color: $text_primary;
      display: inline-block;
      vertical-align: top;
      padding: 18px 32px 18px 0;
    }
  }

  .nav__additional {
    display: none;

    .nav__link {
      height: auto;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.6;
      padding: 18px 35px 18px 0;

      & + .nav__link {
        padding-left: 26px;
      }
    }
  }

  .nav__caption {
    order: 4;
    width: 40%;
    text-align: right;
    font-size: 15px;
    line-height: 1.6;
    color: #444444;
    padding: 18px 0;
  }
}

@media (min-width: $desktop) {
  .nav__wrapper {
    padding: 0 50px;
    max-width: 1150px;
  }

  .nav__item {
    border-right: 1px solid $border_primary_color;
    padding-left: 0;

    & + .nav__item {
      border-right: 0;

      .nav__link {
        padding-left: 35px;
      }

      .nav__link--cart {
        padding-left: 85px;
      }
    }

    &--search {
      order: 4;
    }

    &--cart {
      order: 5;

      .nav__link {
        padding-left: 85px;
      }
    }
  }

  .nav__link {
    padding-left: 0;
    padding-right: 35px;
  }

  .nav__outer {
    order: 1;
    width: auto;

    .nav__link {
      padding-left: 0;
      padding-right: 35px;
      padding-top: 31px;
      padding-bottom: 28px;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.41;
      border-right: 1px solid $border_primary_color;

      & + .nav__link {
        border-right: 0;
        padding-left: 30px;
      }
    }
  }

  .nav__additional {
    display: flex;
    order: 6;
  }

  .nav__caption {
    display: block;
    order: 7;
  }
}
