.page-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.13;
  text-align: center;
  color: #010000;
  padding: 0 30px;
  margin: 0;

  &--bg {
    background-color: #f1f1f1;
    padding: 71px 30px 76px;
  }
}

@media (min-width: 772px) {
  .page-title {
    font-size: 43px;
    line-height: 1.16;
    padding: 0 52px;

    &--bg {
      padding: 36px 52px 81px;
    }
  }
}

@media (min-width: 1250px) {
  .page-title {
    font-size: 53px;
    line-height: 1.08;
    padding: 0 100px;

    &--bg {
      padding: 36px 52px 100px;
    }
  }
}
