.product {
  background-color: $primary-contrast;
  margin-bottom: 30px;
  max-width: 260px;

  &:hover {
    .product__container {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    .product__container {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.product__container {
  border: solid 1px $border-primary;
  padding: 7px 28px 6px;
}

.product__link {
  display: block;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.product__image {
  height: 195px;
  background-color: #f9f9f9;
}

.product__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $text-primary;
  margin: 0;
  padding: 21px 0 11px;
}

.product__desc {
  font-size: 13px;
  line-height: 1.5;
  color: $text-secondary;
  display: inline-block;
  vertical-align: top;
  border-bottom: solid 1px $border-primary;
  width: 100%;
  padding-bottom: 24px;
}

.product__info {
  margin: 0;
  padding: 21px 0 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  color: $text-primary;
}

.product__add {
  opacity: 0.2;
  margin-top: 1px;
  display: block;
  margin-right: -3px;

  &:hover {
    path {
      fill: $primary;
    }
  }

  &:active {
    opacity: 0.3;

    path {
      fill: $primary;
    }
  }
}

@media (min-width: $tablet) {
  .product {
    width: 100%;
    position: relative;
    min-height: 334px;
    display: flex;
    flex-direction: row;
    margin-bottom: 54px;
    max-width: 669px;
  }

  .product__image {
    height: auto;
  }

  .product__link {
    width: 50%;
  }

  .product__container {
    padding: 2px 25px 6px;
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .product__name {
    font-size: 20px;
    line-height: 1.2;
    padding: 24px 0 8px;
  }

  .product__desc {
    font-size: 15px;
    border-bottom: 0;
  }

  .product__info {
    padding: 22px 6px 15px;
    border-top: solid 1px #ececec;
    margin-bottom: 0;
    margin-top: auto;
  }

  .product__add {
    margin-right: -1px;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 30%;
    min-height: 100%;
    flex-direction: column;

    &:last-child {
      margin-bottom: 54px;
    }
  }

  .product__name {
    padding: 23px 0 9px;
  }

  .product__container {
    padding: 4px 25px 9px;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
  }

  .product__link {
    width: 100%;
  }

  .product__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .product__desc {
    font-size: 15px;
    padding-bottom: 18px;
  }

  .product__info {
    padding: 22px 8px 10px 0;
  }
}
