.product {
  background-color: $white;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__container {
  border: solid 1px $border_primary_color;
  border-top: 0;
  padding: 7px 28px 6px;
}

.product__link {
  display: block;
}

.product__image {
  height: 195px;
  background-color: #f9f9f9;
}

.product__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $black;
  margin: 0;
  padding: 26px 28px 5px;
  border: solid 1px $border_primary_color;
  border-bottom: 0;
}

.product__desc {
  font-size: 13px;
  line-height: 1.5;
  color: $border_secondary_color;
  display: inline-block;
  vertical-align: top;
  border-bottom: solid 1px $border_primary_color;
  width: 100%;
  padding-bottom: 24px;
}

.product__info {
  margin: 0;
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  color: $black;
}

.product__add {
  opacity: 0.2;
  margin-top: 1px;
  display: block;
  margin-right: -3px;
}

@media (min-width: 772px) {
  .product {
    width: 100%;
    position: relative;
    min-height: 334px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
  }

  .product__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .product__container {
    padding: 4px 28px 6px;
    padding-left: calc(50% + 26px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__name {
    font-size: 20px;
    line-height: 1.2;
    padding-left: calc(50% + 26px);
    padding-top: 24px;
  }

  .product__desc {
    font-size: 15px;
    border-bottom: 0;
  }

  .product__info {
    padding: 21px 6px;
    border-top: solid 1px #ececec;
  }
}

@media (min-width: 1250px) {
  .product {
    width: 30%;
    min-height: 100%;

    &:last-child {
      margin-bottom: 54px;
    }
  }

  .product__image {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: 100%;
  }

  .product__name {
    padding: 26px 25px 5px;
  }

  .product__container {
    padding: 4px 25px 17px;
    justify-content: space-between;
  }

  .product__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .product__desc {
    font-size: 15px;
    padding-bottom: 18px;
  }

  .product__info {
    padding: 22px 8px 10px 0;
  }
}
