.reviews {
  padding: 23px 0;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    content: "";
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
  margin: 0;
}

.reviews__item {
  margin: 0;
  padding: 14px 0;
  width: 100%;
}

.reviews__text {
  margin: 10px 0;
  font-size: 15px;
  line-height: 2;
  color: $border_secondary_color;
}

.reviews__author {
  width: 100%;
  font-size: 17px;
  line-height: 1.41;
  color: $black;
  font-weight: 700;
  font-style: normal;
  padding: 17px 0;
  display: block;
}

.reviews__link {
  font-weight: 400;
  display: block;
  padding-top: 7px;
}

.reviews__toggles {
  display: flex;
  margin: 2px 0 20px;
}

.reviews__toggle {
  background-color: $white;
  border: solid 1px $border_primary_color;
  height: 52px;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:nth-child(odd) {
    border-right: 0;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &:nth-child(even) {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__button {
  margin: 38px 0 29px;
}

@media (min-width: 772px) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 77px 0 84px;

    &::after {
      height: 15px;
      background-size: auto 15px;
    }
  }

  .reviews .container {
    position: relative;
  }

  .reviews__button {
    position: absolute;
    right: 52px;
    top: 2px;
    margin: 0;
    min-width: 175px;
  }

  .reviews__toggles {
    position: absolute;
    bottom: 29px;
    right: 52px;
  }

  .reviews__toggle {
    width: 88px;
    border: 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 1.16;
    padding-right: 200px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 1.8;
  }

  .reviews__item {
    padding: 40px 0 2px;
  }

  .reviews__author {
    padding: 48px 0;
    padding-right: 200px;
  }
}

