.search {
  display: block;
  width: 100%;
}

.search__field {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: $text-primary;
  border: 0;

  &::placeholder {
    color: $text-primary;
  }

  &:focus ~ .search__icon {
    fill: $primary;
  }
}

.search__label {
  width: 100%;
  display: block;
  padding: 24px 30px 25px 74px;
  position: relative;
  cursor: pointer;

  &:hover .search__icon {
    fill: $primary;
  }

  &:active .search__icon {
    fill: $primary-30;
  }
}

.search__icon {
  position: absolute;
  left: 33px;
  top: 52%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  content: "";
  fill: rgba(#231f20, 0.2);
}

@media (min-width: $tablet) {
  .search__label {
    padding: 24px 30px 25px 49px;
    height: 100%;
  }

  .search__field {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
