.size {
  max-width: 82px;
  width: 100%;
  min-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.size__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  color: $border_secondary_color;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 10px;
  border: solid 2px rgba($border_secondary_color, 0.1);

  &:hover {
    border-color: rgba($border_secondary_color, 0.3);
  }
}

.size__field:checked ~ .size__name {
  border-color: $primary_color;
}


@media (min-width: $tablet) {
  .size {
    max-width: 32%;
  }
}
