.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  display: block;
  margin: 0 20px;

  &:hover {
    opacity: 1;

    .socials__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 1;

    .socials__icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.socials__icon {
  fill: #231f20;
}
